dist: xenial

notifications:
  email: false

language: python
cache: pip

matrix:
  include:
  - python: 3.5
  - python: 3.6
  - python: 3.7
  - python: 3.8

install: pip install tox-travis

script: tox
