global-exclude *.py[cod]
graft tests
prune __pycache__
prune requirements
include HISTORY.rst
include LICENSE
include README.rst
exclude .editorconfig
exclude .pre-commit-config.yaml
include pyproject.toml
exclude pytest.ini
exclude tox.ini
