global-exclude *.py[cod]
prune __pycache__
prune requirements
prune tests
exclude .editorconfig
exclude .pre-commit-config.yaml
exclude tox.ini
include HISTORY.rst
include LICENSE
include pyproject.toml
include README.rst
include src/*/py.typed
