black ; python_version == '3.8.*'
check-manifest ; python_version == '3.8.*'
django
docutils ; python_version == '3.8.*'
flake8 ; python_version == '3.8.*'
flake8-bugbear ; python_version == '3.8.*'
flake8-comprehensions ; python_version == '3.8.*'
flake8-tidy-imports ; python_version == '3.8.*'
isort ; python_version == '3.8.*'
pre-commit ; python_version == '3.8.*'
pygments ; python_version == '3.8.*'
pytest
pytest-cov
pytest-django
pytest-randomly
secretstorage ; python_version == '3.8.*' # required for twine on linux
twine ; python_version == '3.8.*'
