black ; python_version == '3.9.*'
check-manifest ; python_version == '3.9.*'
django
docutils ; python_version == '3.9.*'
flake8 ; python_version == '3.9.*'
flake8-bugbear ; python_version == '3.9.*'
flake8-comprehensions ; python_version == '3.9.*'
flake8-tidy-imports ; python_version == '3.9.*'
isort ; python_version == '3.9.*'
pre-commit ; python_version == '3.9.*'
pygments ; python_version == '3.9.*'
pytest
pytest-cov
pytest-django
pytest-randomly
secretstorage ; python_version == '3.9.*' # required for twine on linux
twine ; python_version == '3.9.*'
