name: CI

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        python-version:
        - 3.5
        - 3.6
        - 3.7
        - 3.8
        - 3.9

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      if: matrix.python-version != '3.9'
      with:
        python-version: ${{ matrix.python-version }}
    - uses: deadsnakes/action@v1.0.0
      if: matrix.python-version == '3.9'
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Upgrade packaging tools
      run: python -m pip install --upgrade pip setuptools virtualenv
    - name: Install dependencies
      run: python -m pip install --upgrade tox tox-gh-actions
    - name: Run tox targets for ${{ matrix.python-version }}
      run: python -m tox
